// backgrounds
$background-primary: #ffffff;
$background-secondary: #ededed;
$background-tertiary: #f9f9f9;
$background-contrast: #363636;

// foregrounds
$font-primary: #212529;
$font-secondary: #282c3e;
$font-tertiary: #ffffff;

// logo base colors
$logo-primary-color: #f9802d;
$logo-secondary-color: #ffffff;

// basic colors
$success-color: #1bb332;
$danger-color: #e71b24;
$warning-color: #f59519;
$info-color: #198ce4;
$default-color: #b6b6b6;
