/* hint: refer aniamtion name from _animations.scss */

.slideInFromLeft {
    @include animation(slide-in-from-left, 0.5s, both);
}

.slideInFromRight {
    @include animation(slide-in-from-right, 0.5s, both);
}

.scaleX {
    @include animation(scale-x, 0.2s, both);
    transform-origin: top left;
}

.scaleY {
    @include animation(scale-y, 0.2s, both);
    transform-origin: top center;
}

.scaleYRerverse {
    @include animation(scale-y-reverse, 0.2s, both);
    transform-origin: top center;
}

.scaleXY {
    @include animation(scale-xy, 0.2s, both);
    transform-origin: top left;
}
