.homeContainer {
    @include wh-100p;
    @include flex(column, flex-start, flex-start);
    @include appLeftRightPadding;
    max-height: 500px;
    height: auto;
    width: auto;

    .vaccineContainer {
        @include wh-100p;
        @include flex(column, flex-start, flex-start);
        @include appLeftRightPadding;
        text-align: center;
        align-self: center;
        margin-top: 35px;
        padding-bottom: 35px;
        border-radius: 5px;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
    .titleContainer {
        @include flex(row, center, flex-start, 5px);
        font-size: $font-size-master;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 15px;
        flex-wrap: wrap;
    }
    .slotContainer {
        @include wh-100p;
        @include flex(column, center, flex-start);
        font-size: $font-size-master;
        text-align: center;
        padding-top: 10px;
        border: 1px solid #b3b3b3;
        border-radius: 5px;
        flex-wrap: wrap;

        .slotItems {
            align-self: flex-start;
            @include appLeftRightPadding;
            flex-wrap: wrap;
        }
        .slotItemsOptions {
            align-self: flex-start;
            @include appLeftRightPadding;
            @include flex(row, baseline, space-around);
            width: 100%;
            flex-wrap: wrap;
        }
        .slotItemsCenter {
            align-self: center;
            justify-self: center;
            @include appLeftRightPadding;
            flex-wrap: wrap;
            padding-top: 35px;
        }
        .hospitalLists {
            align-self: center;
            justify-self: center;
            @include appLeftRightPadding;
            flex-wrap: wrap;
            // padding-top: 35px;

            .hospitalListItems {
                @include flex(row, center, space-between, 15px);
                @include appLeftRightPadding;
                flex-wrap: wrap;
                padding-top: 15px;
            }
        }
    }
}
